body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.App {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: color 2s ease;
    font-weight: bold;
    text-shadow: 2px 2px 4px #0003;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.black, .white, .inherit {
    transition: color 0.3s ease;
    color: seagreen;
    color: cadetblue;
    color: darkseagreen;
}

.black {color: black}

.white {color: white}

.inherit {color: inherit}
